.transport-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 10px;
}

.transport-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0;
}

.transport-info p {
  margin: 5px;
}

.button-container {
  margin: 10px 0;
  display: flex;
  gap: 10px;
}
