.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 20px;
}

.filter-container {
  display: flex;
  gap: 10px;
}

.filter-container select {
  height: 25px;
}

.list-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  height: max-content;
  width: 400px;
}
